# Core dependencies
django==4.2.14
opensearch-dsl==2.1.0
elasticsearch==7.10.1  # newer versions don't work with ElasticMock
ElasticMock==1.8.1

# Testing dependencies
parameterized==0.9.0
black==24.8.0
